# Git
.git
.gitignore
.gitattributes

# Docker
compose.yaml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Env
env.sample
pyproject.toml
Poetry.lock

# VS Code
.vscode/