# postgres container(deployment only) needs POSTGRES_PASSWORD to be set as a seperate variable
POSTGRES_PASSWORD=mysecretpassword

# Backend needs the following environment variables to be set
DB_URL=postgres://postgres:mysecretpassword@127.0.0.1:5432/postgres

# JWT stuff
JWT_SECRET=mysecretkey
JWT_REFRESH_SECRET=mysecretrefreshkey
JWT_ALGORITHM=HS256
JWT_AT_EXPIRE_MINUTES=60
JWT_RT_EXPIRE_MINUTES=10080

# Filtering algorithm weights
DISTANCE_WEIGHT=0.4
RATING_WEIGHT=0.3
REVIEW_COUNT_WEIGHT=0.2
COST_WEIGHT=0.1
